@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
#titulo_seccion {
    background-color: #b61042;
    color: white;
    text-align: center;
    margin: 2% 30%;
    padding: 20px;
}

#cuerpo_facturas {
    #nav_facturas {
        margin: auto;
        width: 85%;
        padding: 30px;
        padding-right: 20px;
        background-color: #b61042;
        display: flex;
        color: white;
        justify-content: space-between;
        .campos_facturas {
            margin: auto;
            width: 16.66%;
            text-align: center;
        }
    }
    #lista_facturas {
        width: 85%;
        margin: auto;
        height: 850px;
        margin-bottom: 2%;
        border: solid #b61042 2px;
        overflow-y: scroll;
        .blanco {
            background-color: white;
            padding: 40px;
            display: flex;
            .parametro_factura {
                margin: auto;
                width: 16.66%;
                text-align: center;
            }
            .parametro_factura_2 {
                margin: auto;
                width: 16.66%;
                text-align: start;
            }
            .parametro_factura_3 {
                margin: auto;
                width: 16.66%;
                text-align: end;
            }
        }
    }
    .rojo {
        background-color: #ffdfdf;
        padding: 40px;
        display: flex;
        .parametro_factura {
            margin: auto;
            width: 16.66%;
            text-align: center;
        }
        .parametro_factura_2 {
            margin: auto;
            width: 16.66%;
            text-align: start;
        }
        .parametro_factura_3 {
            margin: auto;
            width: 16.66%;
            text-align: end;
        }
    }
}