@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

img {
  max-width: 100%;
}

.logo_cabecera {
  text-align: center;
  padding: 20px;
}

.logo_cabecera img {
  width: 20%;
}

.fondo_nav {
  background-color: #b61042 !important;
  padding: 40px;
}

.color_letra_nav a {
  color: white !important;
  font-size: 25px !important;
  font-weight: bold !important;
  cursor: pointer;
  margin: 0px 10px;
}

.color_letra_nav svg {
  color: black;
  font-weight: bold;
  margin: 0px 5px;
  margin-bottom: 3px;
}

.color_letra_nav a:hover {
  color: black !important;
}

@media (min-width: 992px) {
  header ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.empresa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3% 0;
}

.empresa h1 {
  font-size: 2vw;
  margin: 0;
  background-color: #b61042;
  color: white;
  padding: 1%;
  margin-right: 2%;
  border-radius: 5px;
}

.empresa a svg {
  width: 5vw;
  background-color: #b61042;
  color: white;
  padding: 15%;
  border-radius: 5px;
}

.secciones {
  margin: 5% 0;
}

.secciones .divSecciones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secciones .divSecciones .boxplus {
  background-color: #b61042;
  color: white;
}

.secciones .divSecciones div {
  border: 20px solid #b61042;
  width: 20vw;
  height: 20vw;
  border-radius: 5px;
  color: black;
  margin: 2% 6%;
}

.secciones .divSecciones div h1 {
  font-size: 2vw;
  text-align: center;
  margin: 10% 0;
}

#titulo_producto {
  background-color: #b61042;
  color: white;
  text-align: center;
  margin: 2% 30%;
  padding: 20px;
}

.caja {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  width: 70%;
  margin: auto;
}

.caja .crearBuscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  margin: auto;
  padding: 2% 0;
}

.caja .crearBuscar input {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  width: 14vw;
  padding: 1%;
}

.caja .filtro_busqueda_producto_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin: 2% 0;
}

.caja .filtro_busqueda_producto_1 div {
  width: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #b61042;
  padding: 1%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.caja .filtro_busqueda_producto_1 input {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  width: 14vw;
  padding: 1%;
}

#lista_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0% auto;
  margin-top: 4%;
  padding: 1%;
  width: 1200px;
  background-color: #b61042;
  color: white;
}

#lista_productos div {
  width: 200px;
  text-align: center;
}

#lista_productos div h4 {
  font-size: 1vw;
}

#tabla_productos {
  margin: 0% auto;
  width: 1200px;
  border: 2px solid #b61042;
  margin-bottom: 4%;
}

#tabla_productos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
  border: 1px solid #b61042;
}

#tabla_productos div h4 {
  padding: 1%;
  margin: 0;
  width: 200px;
  text-align: center;
  font-size: 1vw;
}

.unselectable {
  pointer-events: none;
  background-color: grey;
  opacity: 50%;
}

.popUp_productos {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5% auto;
  background-color: white;
  width: 30%;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

#detalle_facturas #encabezado_factura {
  width: 80%;
  margin: auto;
  border: #b61042 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detalle_facturas #encabezado_factura #logotipo {
  width: 33.33%;
}

#detalle_facturas #encabezado_factura img {
  padding: 20px;
}

#detalle_facturas #encabezado_factura #datos_factura {
  width: 66.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_1,
#detalle_facturas #encabezado_factura #datos_factura #datos_3 {
  width: 20%;
  background-color: #b61042;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_1 .detalle_datos,
#detalle_facturas #encabezado_factura #datos_factura #datos_3 .detalle_datos {
  height: 33.33%;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_2,
#detalle_facturas #encabezado_factura #datos_factura #datos_4 {
  width: 30%;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_2 .detalle_datos,
#detalle_facturas #encabezado_factura #datos_factura #datos_4 .detalle_datos {
  border: #b61042 1px solid;
  height: 33.33%;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

#detalle_facturas #nav_facturas {
  margin: auto;
  width: 80%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  background-color: #b61042;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detalle_facturas #nav_facturas .campos_facturas {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#detalle_facturas #cuerpo_factura {
  width: 80%;
  margin: auto;
  height: 850px;
  border: #b61042 1px solid;
  margin-bottom: 2%;
}

#detalle_facturas #cuerpo_factura .blanco {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detalle_facturas #cuerpo_factura .blanco .parametro_factura {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#detalle_facturas #cuerpo_factura .blanco .parametro_factura_2 {
  margin: auto;
  width: 16.66%;
  text-align: start;
}

#detalle_facturas #cuerpo_factura #importe_total {
  font-weight: bold;
  width: 16.66%;
}

#titulo_seccion {
  background-color: #b61042;
  color: white;
  text-align: center;
  margin: 2% 30%;
  padding: 20px;
}

#cuerpo_facturas #nav_facturas {
  margin: auto;
  width: 85%;
  padding: 30px;
  padding-right: 20px;
  background-color: #b61042;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cuerpo_facturas #nav_facturas .campos_facturas {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#cuerpo_facturas #lista_facturas {
  width: 85%;
  margin: auto;
  height: 850px;
  margin-bottom: 2%;
  border: solid #b61042 2px;
  overflow-y: scroll;
}

#cuerpo_facturas #lista_facturas .blanco {
  background-color: white;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cuerpo_facturas #lista_facturas .blanco .parametro_factura {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#cuerpo_facturas #lista_facturas .blanco .parametro_factura_2 {
  margin: auto;
  width: 16.66%;
  text-align: start;
}

#cuerpo_facturas #lista_facturas .blanco .parametro_factura_3 {
  margin: auto;
  width: 16.66%;
  text-align: end;
}

#cuerpo_facturas .rojo {
  background-color: #ffdfdf;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cuerpo_facturas .rojo .parametro_factura {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#cuerpo_facturas .rojo .parametro_factura_2 {
  margin: auto;
  width: 16.66%;
  text-align: start;
}

#cuerpo_facturas .rojo .parametro_factura_3 {
  margin: auto;
  width: 16.66%;
  text-align: end;
}

.unselectable {
  pointer-events: none;
  background-color: grey;
  opacity: 50%;
}

.unselectable #procesos,
.unselectable #pedidos {
  position: relative;
}

.popUp {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5% auto;
  background-color: white;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
}

.popUp img {
  right: 20%;
  padding-top: 5%;
  margin-left: 86%;
  width: 7%;
}

.popUp div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1%;
  padding: 2%;
  color: white;
  background-color: #b61042;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popUp div input {
  width: 30%;
}

.popUp div#popUp_titulo {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  margin: 5%;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popUp div#popUp_div_results {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: grey;
}

.popUp button {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  padding: 2%;
  margin: 5% auto;
}

section#cuerpo_procesos {
  position: relative;
}

section#menus_procesos div#titular {
  background-color: #b61042;
  color: white;
  text-align: center;
  margin: 2% 30%;
  padding: 20px;
}

section#menus_procesos div#crear_pedido {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  width: 70%;
  margin: 5% auto;
}

section#menus_procesos div#crear_pedido h2 {
  font-weight: bold;
  text-align: center;
}

section#menus_procesos div#crear_pedido div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#menus_procesos div#crear_pedido div button {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  width: 20%;
  padding: 1%;
  margin: 1% auto;
}

section#menus_procesos div#gestion_pedido {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  width: 70%;
  margin: 5% auto;
  text-align: center;
}

section#menus_procesos div#gestion_pedido h2 {
  font-weight: bold;
  text-align: center;
}

section#menus_procesos div#gestion_pedido div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#menus_procesos div#gestion_pedido div div {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1%;
  padding: 2%;
  color: white;
  background-color: #b61042;
}

section#menus_procesos div#gestion_pedido div div input {
  width: 20%;
}

section#menus_procesos div#gestion_pedido div#filtro_tipo_pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1%;
  padding: 2%;
  color: white;
  background-color: #b61042;
  margin: 1% auto;
  width: 48%;
}

section#menus_procesos div#gestion_pedido div#filtro_tipo_pedido input {
  width: 20%;
}

section#menus_procesos div#gestion_pedido div#results_gestionP {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  background-color: grey;
  color: white;
}

section#menus_procesos div#gestion_pedido button {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  width: 20%;
  padding: 1%;
  margin: 1% auto;
}

.fondo_rojo {
  background-color: #b61042;
  color: white;
}

#div_popUp_pedidos {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5% auto;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  width: 90%;
  text-align: center;
}

#div_popUp_pedidos img {
  right: 20%;
  padding-top: 5%;
  margin-left: 86%;
  width: 7%;
}

#div_popUp_pedidos div#titulo_popUp_pedidos {
  width: 30%;
  margin: 2% auto;
  padding: 2%;
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
}

#div_popUp_pedidos div#div_div_filtros_prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#div_popUp_pedidos div#div_div_filtros_prod div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1%;
  padding: 2%;
  color: white;
  background-color: #b61042;
}

#div_popUp_pedidos div#div_div_filtros_prod input {
  width: 45%;
}

#div_popUp_pedidos section#section_caja_tabla {
  border: solid 1px #b61042;
  margin: 2%;
}

#div_popUp_pedidos section#section_caja_tabla section#lista_productos {
  background-color: #b61042;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#div_popUp_pedidos section#section_caja_tabla section#lista_productos div {
  width: 14%;
}

#div_popUp_pedidos section#section_caja_tabla section#tabla_productos {
  padding: 1% 0;
}

#div_popUp_pedidos section#section_caja_tabla section#tabla_productos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#div_popUp_pedidos section#section_caja_tabla section#tabla_productos > div h4 {
  width: 14%;
}

section#cuerpo_pedidos div#titular_pedidos {
  background-color: #b61042;
  color: white;
  text-align: center;
  margin: 2% 30%;
  padding: 20px;
}

section#cuerpo_pedidos div#caja_de_pedido {
  border: solid 2px #b61042;
  margin: 0 5%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_img_datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_img_datos > div {
  width: 33.3%;
  text-align: center;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_img_datos > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_img_datos > div div h5 {
  width: 50%;
  margin: 0;
  padding: 3%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos {
  background-color: #b61042;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo0 {
  width: 10%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo1 {
  width: 40%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo2 {
  width: 10%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo3 {
  width: 10%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo4 {
  width: 10%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo5 {
  width: 10%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_contenedor_nombre_de_campos div#campo6 {
  width: 10%;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_btn_add_producto {
  margin: 1% 3%;
  border-top: solid 1px #b61042;
  text-align: center;
}

section#cuerpo_pedidos div#caja_de_pedido div#div_btn_add_producto button {
  width: 30%;
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2vw;
  padding: 2%;
  margin: 2% auto;
}

section#cuerpo_pedidos div#estado_pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1%;
  padding: 2%;
  color: white;
  background-color: #b61042;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

section#cuerpo_pedidos div#estado_pedido h4#estado_pedido_contenido_h4 {
  text-align: center;
  background-color: white;
  color: black;
  padding: 2% 5%;
  margin: 0;
}

section#cuerpo_pedidos div#botones_gestion_pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#cuerpo_pedidos div#botones_gestion_pedido button {
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
  width: 20%;
}

section#cuerpo_pedidos div#boton_cancelar_pedido {
  margin: 3%;
  text-align: center;
}

section#cuerpo_pedidos div#boton_cancelar_pedido button {
  width: 20%;
  background-color: white;
  border: 5px solid #b61042;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer a:hover {
  color: #b61042;
}

.div_footer #div_img,
.div_footer #div_politica,
.div_footer #div_datos,
.div_footer #div_rrss {
  width: 90%;
  margin: 15px auto;
  text-align: center;
}

#div_rrss svg {
  margin: 20px;
  cursor: pointer;
}

#div_rrss svg:hover {
  color: #b61042;
}

@media (min-width: 768px) {
  .div_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  #div_img {
    justify-self: flex-start;
    width: 40% !important;
    padding: 20px;
    text-align: left !important;
  }
  #div_politica {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50% !important;
    margin: 10px auto !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #div_datos {
    justify-self: flex-end;
    width: 40% !important;
    padding: 0px 50px;
    text-align: left !important;
  }
  #div_rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60% !important;
    margin: 10px auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 50px;
  }
  footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */