@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

img {
  max-width: 100%;
}

.logo_cabecera {
  text-align: center;
  padding: 20px;
}

.logo_cabecera img {
  width: 20%;
}

.fondo_nav {
  background-color: #b61042 !important;
  padding: 40px;
}

.color_letra_nav a {
  color: white !important;
  font-size: 25px !important;
  font-weight: bold !important;
  cursor: pointer;
  margin: 0px 10px;
}

.color_letra_nav svg {
  color: black;
  font-weight: bold;
  margin: 0px 5px;
  margin-bottom: 3px;
}

.color_letra_nav a:hover {
  color: black !important;
}

@media (min-width: 992px) {
  ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

footer {
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer a:hover {
  color: #b61042;
}

.div_footer #div_img,
.div_footer #div_politica,
.div_footer #div_datos,
.div_footer #div_rrss {
  width: 90%;
  margin: 15px auto;
  text-align: center;
}

#div_rrss svg {
  margin: 20px;
  cursor: pointer;
}

#div_rrss svg:hover {
  color: #b61042;
}

@media (min-width: 768px) {
  .div_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  #div_img {
    justify-self: flex-start;
    width: 40% !important;
    padding: 20px;
    text-align: left !important;
  }
  #div_politica {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50% !important;
    margin: 10px auto !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #div_datos {
    justify-self: flex-end;
    width: 40% !important;
    padding: 0px 50px;
    text-align: left !important;
  }
  #div_rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60% !important;
    margin: 10px auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 50px;
  }
}

#titulo_seccion {
  background-color: #b61042;
  color: white;
  text-align: center;
  margin: 2% 30%;
  padding: 20px;
}

#cuerpo_facturas #nav_facturas {
  margin: auto;
  width: 85%;
  padding: 30px;
  padding-right: 20px;
  background-color: #b61042;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cuerpo_facturas #nav_facturas .campos_facturas {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#cuerpo_facturas #lista_facturas {
  width: 85%;
  margin: auto;
  height: 850px;
  margin-bottom: 2%;
  border: solid #b61042 2px;
  overflow-y: scroll;
}

#cuerpo_facturas #lista_facturas .blanco {
  background-color: white;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cuerpo_facturas #lista_facturas .blanco .parametro_factura {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#cuerpo_facturas #lista_facturas .blanco .parametro_factura_2 {
  margin: auto;
  width: 16.66%;
  text-align: start;
}

#cuerpo_facturas #lista_facturas .blanco .parametro_factura_3 {
  margin: auto;
  width: 16.66%;
  text-align: end;
}

#cuerpo_facturas .rojo {
  background-color: #ffdfdf;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cuerpo_facturas .rojo .parametro_factura {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#cuerpo_facturas .rojo .parametro_factura_2 {
  margin: auto;
  width: 16.66%;
  text-align: start;
}

#cuerpo_facturas .rojo .parametro_factura_3 {
  margin: auto;
  width: 16.66%;
  text-align: end;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

#detalle_facturas #encabezado_factura {
  width: 80%;
  margin: auto;
  border: #b61042 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detalle_facturas #encabezado_factura #logotipo {
  width: 33.33%;
}

#detalle_facturas #encabezado_factura img {
  padding: 20px;
}

#detalle_facturas #encabezado_factura #datos_factura {
  width: 66.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_1,
#detalle_facturas #encabezado_factura #datos_factura #datos_3 {
  width: 20%;
  background-color: #b61042;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_1 .detalle_datos,
#detalle_facturas #encabezado_factura #datos_factura #datos_3 .detalle_datos {
  height: 33.33%;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_2,
#detalle_facturas #encabezado_factura #datos_factura #datos_4 {
  width: 30%;
}

#detalle_facturas #encabezado_factura #datos_factura #datos_2 .detalle_datos,
#detalle_facturas #encabezado_factura #datos_factura #datos_4 .detalle_datos {
  border: #b61042 1px solid;
  height: 33.33%;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

#detalle_facturas #nav_facturas {
  margin: auto;
  width: 80%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  background-color: #b61042;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detalle_facturas #nav_facturas .campos_facturas {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#detalle_facturas #cuerpo_factura {
  width: 80%;
  margin: auto;
  height: 850px;
  border: #b61042 1px solid;
  margin-bottom: 2%;
}

#detalle_facturas #cuerpo_factura .blanco {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detalle_facturas #cuerpo_factura .blanco .parametro_factura {
  margin: auto;
  width: 16.66%;
  text-align: center;
}

#detalle_facturas #cuerpo_factura .blanco .parametro_factura_2 {
  margin: auto;
  width: 16.66%;
  text-align: start;
}

#detalle_facturas #cuerpo_factura #importe_total {
  font-weight: bold;
  width: 16.66%;
}
/*# sourceMappingURL=estilos.css.map */