* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

img {
  max-width: 100%;
}

.logo_cabecera {
  text-align: center;
  padding: 20px;
}

.logo_cabecera img {
  width: 20%;
}

.fondo_nav {
  background-color: #b61042 !important;
  padding: 40px;
}

.color_letra_nav a {
  color: white !important;
  font-size: 25px !important;
  font-weight: bold !important;
  cursor: pointer;
  margin: 0px 10px;
}

.color_letra_nav svg {
  color: black;
  font-weight: bold;
  margin: 0px 5px;
  margin-bottom: 3px;
}

.color_letra_nav a:hover {
  color: black !important;
}

@media (min-width: 992px) {
  ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.empresa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3% 0;
}

.empresa h1 {
  font-size: 2vw;
  margin: 0;
  background-color: #b61042;
  color: white;
  padding: 1%;
  margin-right: 2%;
  border-radius: 5px;
}

.empresa a svg {
  width: 5vw;
  background-color: #b61042;
  color: white;
  padding: 15%;
  border-radius: 5px;
}

.secciones {
  margin: 5% 0;
}

.secciones .divSecciones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secciones .divSecciones .boxplus {
  background-color: #b61042;
  color: white;
}

.secciones .divSecciones div {
  border: 20px solid #b61042;
  width: 20vw;
  height: 20vw;
  border-radius: 5px;
  color: black;
  margin: 2% 6%;
}

.secciones .divSecciones div h1 {
  font-size: 2vw;
  text-align: center;
  margin: 10% 0;
}

#titulo_producto {
  background-color: #b61042;
  color: white;
  text-align: center;
  margin: 2% 30%;
  padding: 20px;
}

.caja {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  width: 70%;
  margin: auto;
}

.caja .crearBuscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  margin: auto;
  padding: 2% 0;
}

.caja .crearBuscar input {
  border: 5px solid #b61042;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  width: 14vw;
  padding: 1%;
}

.caja .filtro_busqueda_producto_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin: 2% 0;
}

.caja .filtro_busqueda_producto_1 div {
  width: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #b61042;
  padding: 1%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.caja .filtro_busqueda_producto_1 input {
  border: 5px solid #b61042;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  width: 14vw;
  padding: 1%;
}

#lista_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0% auto;
  margin-top: 4%;
  padding: 1%;
  width: 1200px;
  background-color: #b61042;
  color: white;
}

#lista_productos div {
  width: 200px;
  text-align: center;
}

#lista_productos div h4 {
  font-size: 1vw;
}

#tabla_productos {
  margin: 0% auto;
  width: 1200px;
  border: 2px solid #b61042;
  margin-bottom: 4%;
}

#tabla_productos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
  border: 1px solid #b61042;
}

#tabla_productos div h4 {
  padding: 1%;
  margin: 0;
  width: 200px;
  text-align: center;
  font-size: 1vw;
}

.unselectable {
  pointer-events: none;
  background-color: grey;
  opacity: 50%;
}

.popUp_productos {
  border: 10px solid #b61042;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5% auto;
  background-color: white;
  width: 30%;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer a:hover {
  color: #b61042;
}

.div_footer #div_img,
.div_footer #div_politica,
.div_footer #div_datos,
.div_footer #div_rrss {
  width: 90%;
  margin: 15px auto;
  text-align: center;
}

#div_rrss svg {
  margin: 20px;
  cursor: pointer;
}

#div_rrss svg:hover {
  color: #b61042;
}

@media (min-width: 768px) {
  .div_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  #div_img {
    justify-self: flex-start;
    width: 40% !important;
    padding: 20px;
    text-align: left !important;
  }
  #div_politica {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50% !important;
    margin: 10px auto !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #div_datos {
    justify-self: flex-end;
    width: 40% !important;
    padding: 0px 50px;
    text-align: left !important;
  }
  #div_rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60% !important;
    margin: 10px auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 50px;
  }
}
/*# sourceMappingURL=estilos.css.map */