@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

img {
    max-width: 100%;
}

.logo_cabecera {
    text-align: center;
    padding: 20px;
}

.logo_cabecera img {
    width: 20%;
}

.fondo_nav {
    background-color: #b61042 !important;
    padding: 40px;
}

.color_letra_nav a {
    color: white!important;
    font-size: 25px!important;
    font-weight: bold!important;
    cursor: pointer;
    margin: 0px 10px;
}

.color_letra_nav svg {
    color: black;
    font-weight: bold;
    margin: 0px 5px;
    margin-bottom: 3px;
}

.color_letra_nav a:hover {
    color: black !important;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer a:hover {
    color: #b61042;
}

.div_footer #div_img,
.div_footer #div_politica,
.div_footer #div_datos,
.div_footer #div_rrss {
    width: 90%;
    margin: 15px auto;
    text-align: center;
}

#div_rrss svg {
    margin: 20px;
    cursor: pointer;
}

#div_rrss svg:hover {
    color: #b61042;
}

@media (min-width: 768px) {
    .div_footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (min-width: 992px) {
    #div_img {
        justify-self: flex-start;
        width: 40%!important;
        padding: 20px;
        text-align: left !important;
    }
    #div_politica {
        display: flex !important;
        flex-wrap: wrap;
        width: 50% !important;
        margin: 10px auto !important;
        justify-content: space-between;
    }
    #div_datos {
        justify-self: flex-end;
        width: 40%!important;
        padding: 0px 50px;
        text-align: left !important;
    }
    #div_rrss {
        display: flex;
        flex-wrap: wrap;
        width: 60%!important;
        margin: 10px auto;
        justify-content: flex-end;
        padding-right: 50px;
    }
    ul {
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 1200px) {}