* {
    background-color: #b61042;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.form_inicio {
    margin: 8% auto;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 25px 80px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #720929;
}

form div {
    width: 80%;
    margin: 0px auto;
    padding: 30px;
}

input::placeholder {
    font-style: italic;
}

button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 25px;
    border: 2px solid #720929;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #720929;
    border: 2px solid white;
}